@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


body {
    background-color:rgb(152, 190, 213);
    background-repeat: no-repeat;
    /* width: 100%;
    height: auto;
} */

}

.weatherResults, ul {
    list-style: none;
    font-family: 'charter';
    color: black;
    font-size: 6vh;
    font-weight: lighter;
    text-align: center;
}

.formInput {
    list-style: none;
    font-family: 'charter';
    color: black;
    font-size: 4vh;
    font-weight: lighter;
    text-align: center;
}


h1 {
    font-family: 'kievit';
    color: black;
    font-size: 6vh;
    font-weight: lighter;
    text-align: center;
    /* padding: 2em 0 0 1em; */

}
.box {
    z-index:1;
}

.infoDisplay {
    border-style:solid;
    border-width: thin;
    border-color: black;
    width: 50%;
    justify-content: center;
    /* padding-left: 50vh; */
    margin: 0 auto;


}
